CompiladoresVM/bin/Debug/*
CompiladoresVM/bin/Release/*
CompiladoresVM/obj/Debug/*
CompiladoresVM/obj/Release/*

Compilador/bin/Debug/*
Compilador/bin/Release/*
Compilador/obj/Debug/*
Compilador/obj/Release/*

IDE/bin/Debug/*
IDE/bin/Release/*
IDE/obj/Debug/*
IDE/obj/Release/*

.vs/*
